@charset "utf-8";
@import 'components/variables.scss';
@import 'components/header.scss';
@import 'components/homepage.scss';


body{
    margin: 0;
    padding: 0;
    background-color: $background-color;
}





