{% extends 'proj/base.html' %}

{% block content %}

<div class="container">
    <!--Welcome Text-->
    <div class="welcome_text">
        <span class="title">
            This is our {{category}} section
        </span>
        <span class="sub-title">
            In here you can find all of our {{category}} related products!
        </span>
    </div>
    <div class="content_home">
        <!--Highlights-->
        <div class="hightlight">
            <span class="hightlight_text">{{category}}</span>
            <div class="highlights_container">

                <!-- Loop over the list of products -->
                {% for product in products %}
                    {% include "./components/product_card.html" with p=product %}
                {% endfor %}

            </div>

        </div>
    </div>
</div>
{% endblock %}