{% extends 'proj/base.html' %}

{% load custom_filters %}

{% block content %}

<!--Content-->

<div class="container">
    <!--Welcome Text-->
    <div class="welcome_text">
        <span class="title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </span>
        <span class="sub-title">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
        </span>
    </div>
    <div class="content_home">

        <!--Category-->
        <div class="categories">
            {% for category in categories %}
                <a style="text-decoration:none; background-image: url('{{ category|get_image }}')" href="{% url 'category' category.id %}" class="category">{{ category.name }}</a>
            {% endfor %}
        </div>
        <!--Highlights-->
        <div class="hightlight">
            <span class="hightlight_text">Highlights</span>
            <div class="highlights_container">

                <!-- Loop over the list of products -->
                {% for product in products %} 
                    {% include "./components/product_card.html" with p=product %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}