{% extends 'proj/base.html' %}

{% load custom_filters %}

{% block content %}
<link rel="stylesheet" href="/../static/css/style_product.css">

<div class="container">
    <div class="content_product">
        <!--Back Component-->
        <div class="back" onclick="history.back()">
            <span class="back_icon"></span>
            <span class="back_text">Back</span>
        </div><!--/Back Component-->

        <!--Product Container-->
        <div class="product_container">
            <!--Small Image List-->
            <div id="image-container" class="images_container">
                {% for image in product|get_images %}
                    {% if forloop.counter0 == 0 %}
                    <img class="small-image active" src="{{ image.image.url }}">
                    {% else %}                    
                    <img class="small-image" src="{{ image.image.url }}">
                    {% endif %}
                {% endfor %}
            </div><!--/Small Image List-->

            <!--Image on Display-->
            <img class="image_display" src="{{ product|get_first_image }}"/><!--/Image on Display-->

            <!--Product Info-->
            <div class="product_info">
                <div class="product_details">
                    <div class="product_header">
                        <div class="text_block">
                            <span class="text">{{product.name}}</span>
                            <span class="text">{{ product|get_price }}</span>
                        </div>
                        {% if not user.is_staff and not user.is_anonymous %}
                        <span id="favorite" class="favorite {{ product|get_favorite_class:user_id }}"></span>
                        {% elif user.is_staff and product.unlisted %}
                        <span class="unlisted"></span>
                        {% endif %}
                    </div><!--/product_header-->

                    <!--product description-->
                    <span class="product_description">{{ product.description}}</span>
                </div><!--product details-->
                <div class="bottom_details">
                    <!--shipment details-->
                    {% if not user.is_staff %}
                    <div class="shipment_details">
                        <span class="title">How to get it</span>
                        <div class="shipment_content">
                            <div class="details">
                                <div class="shipment_header">
                                    <span class="shipment_icon"></span>
                                    <span class="text">Pick it up from our workshop</span>
                                </div>
                                <span class="details">If you prefer, you are always welcome to visit us and collect you
                                    order!</span>
                            </div><!--End Pick Up Details-->
                            <div class="devider"></div><!--End devider-->
                            <div class="details">
                                <div class="shipment_header">
                                    <span class="delivery_icon"></span>
                                    <span class="text">Delivery</span>
                                </div>
                                <span class="details">If it's more convenient to you we send the product directly to
                                    your home!</span>
                            </div><!--End Delivery Details-->
                        </div>
                    </div>
                    {% endif %}
                    <!--shipment details-->
                    <!--button details-->
                    {% if not user.is_staff and not user.is_anonymous %}
                    <div class="button_container">
                        <div class="primary_button">Place Order</div>
                        <a class="secondary_button" style="text-decoration:none" href="{% url 'addCustomOrder' product.id %}">Custom Order</a>
                    </div>
                    {% elif user.is_staff %}
                    <div class="button_container">
                        <a style="text-decoration:none" href="{% url 'editProduct' product.id %}"  class="primary_button">Edit</a>
                        <a style="text-decoration:none" href="{% url 'changeListStatus' product.id %}" class="secondary_button">{% if product.unlisted %}List{% else %}Unlist{% endif %}</a>
                        <a style="text-decoration:none" href="{% url 'removeProduct' product.id %}" class="secondary_button">Remove</a>
                    </div>
                    {% endif %}
                </div>
            </div><!--/product Info-->
        </div><!--/Product Container-->
    </div> <!--End Content-->
    <div class="related_products">
        <span class="related_title">Related Products</span>
        <div class="related_row">
            {% for relatedProduct in relatedProducts %}
                {% include "./components/product_card.html" with p=relatedProduct %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="../../static/javascript/favorite.js"></script>
<script src="/../static/javascript/image_viewer.js"></script>
<script>
    addFavoriteListener('favorite', '{% url "addWishList" %}', '{{ product.id }}');
</script>

{% endblock %}